<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="/products">MysteryShop</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" [(ngModel)]="search" name="searchText" type="search" placeholder="Search">
            <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="searchTitles()">Search</button>
          </div>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffec *ngIf="_authService.loggedIn()" routerLink="/product-add" routerLinkActive="active">Add Product</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li>
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" *ngIf="_authService.loggedIn()" href="/profile-detail/{{helpers.localStorageItem('UserID')}}" routerLinkActive="active">Profile</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" mdbWavesEffec *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Sign in</a>
                <a class="dropdown-item" mdbWavesEffec *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Sign up</a>
                <a class="dropdown-item" mdbWavesEffec style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Wyloguj</a>
              </div>
            </div>
          </a>
        </li>
    </ul>
  </links>
</mdb-navbar>


<div class="container">
  <router-outlet></router-outlet>
</div>
